MarketplaceIV 

# Entorno virtual
venv/

# Archivos de Python
__pycache__/
*.pyc

# Base de datos local
db.sqlite3

# Archivos de entorno
.env

# Archivos temporales / sistema
*.log
.DS_Store

"venv/" 
"venv/" 
"venv/" 
"ENV/" 
